header {
    background-color: #a8e4f3;
    text-align: center;
    font-size: 300 px;
    color: hwb(0 19% 32%);
}
body {
    font-family: Arial, sans-serif;
    background-color: #fce4ec;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #e7baca;
    font-weight: bold;
}
.hero {
    background: url('images/background.png') no-repeat center center/cover;
    size: 40px;
}
.hero-content {
    background: rgba(188, 14, 14, 0.8);
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
}
.founder-img {
    width: 150px;
    border-radius: 50%;
}
.tagline {
    background: #29171e;
    color: white;
    padding: 10px;
}
.about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.about-content {
    width: 60%;
}
.jasmine-img {
    width: 30%;
    border-radius: 10px;
}
.cta-button {
    display: inline-block;
    background: #8d6976;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}